<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.247296199871-6uqd03ncpl7kv997ab9eh9d89lu8ahfl</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Urbanist-VariableFont_wght.ttf</string>
		<string>Urbanist-Italic-VariableFont_wght.ttf</string>
	</array>
    
    
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>This app needs access to your location to provide you with accurate and personalized service. We use your location to find nearby service providers, track their arrival, and ensure efficient and reliable service delivery.</string>

    
</dict>
</plist>
